*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(3,202,252);
}
main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    text-align: center;
}
h1{
    font-size: 4rem;
}
#value{
    font-size: 6rem;
    font-weight: bold;
}
.btn{
    display: flex;
    display: inline-block;
    font-size: 0.87rem;
    background: transparent;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px 4px;
    cursor: pointer;
    margin: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover{
    color: azure;
    background:black;
}